.margin-l-1 {
  margin-left: 20px;
  text-decoration: none;
  cursor: pointer;
}

.center-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
