<div class="div">
  <h3>Secrets shared by me 🔑</h3>
  <div class="alert alert-secondary" role="alert">
    <p>A few rules related to the secrets you've shared:</p>
    <ol>
      <li>You cannot access the secret body if custom access was set.</li>
      <li>All secrets can be removed at any time you like.</li>
      <li>Expired secrets are removed automatically, you won't see them here.</li>
      <li>The secret body won't be accessible if 'Available From' time is in the future.</li>
    </ol>
  </div>
  <div *ngIf="isLoading" class="center-screen">
    <div class="row">
      <p>Loading...</p>
    </div>
    <div class="spinner-border text-success" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
  <table class="table table-striped">
    <!-- Table header -->
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Copy Secret</th>
      <th scope="col">Copy Link</th>
      <th scope="col">Revoke</th>
      <th scope="col">Created On</th>
      <th scope="col">Available From</th>
      <th scope="col">Available Until</th>
      <th scope="col">Self removal allowed</th>
      <th scope="col">Access attempts left</th>
    </tr>
    </thead>
    <!-- Table body -->
    <tbody>
    <tr *ngFor="let secret of paginatedResult?.data; let i = index">
      <!-- Display secret details -->
      <td>{{ getIndexBasedOnPage(i + 1)}}</td>
      <td><a (click)="getSecretBody(secret, i)" class="margin-l-1">{{ getCopyText(secret) }}</a></td>
      <td><a (click)="copyLinkToTheSecret(secret)" class="margin-l-1">{{ secret.linkToTheSecretCopied ? '✅' : '✔️' }}</a></td>
      <td><a (click)="deleteSecret(i)" class="margin-l-1">❌</a></td>
      <td>{{ secret.createdOnUtc | utcToLocal }}</td>
      <td>{{ secret.availableFromUtc | utcToLocal }}</td>
      <td>{{ secret.availableUntilUtc | utcToLocal }}</td>
      <td>{{ secret.selfRemovalAllowed ? 'Yes' : 'No' }}</td>
      <td>{{ secret.accessAttemptsLeft >= 1000 ? 'More than 1000' : secret.accessAttemptsLeft }}</td>
    </tr>
    </tbody>
  </table>

  <!-- Pagination buttons -->
  <div class="text-right mt-3">
    <button type="button" class="btn-round" style="margin-right: 5px" (click)="goToPage(false)" [disabled]="paginatedResult?.page === null || paginatedResult?.page === 1">← Previous</button>
    <button type="button" class="btn-round" (click)="goToPage()" [disabled]="paginatedResult?.page === paginatedResult?.totalPages">Next →</button>
  </div>

  <!-- Back home button -->
  <div class="text-right mt-3">
    <button type="button" [routerLink]="['/']" class="btn-round btn-olive" style="width: 135px;">Back home</button>
  </div>
</div>
