.order-card {
  color: #fff;
}

.bg-c-blue {
  background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
  background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
  background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
  background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
  border-radius: 25px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card-block hr {
  width: 20%;
  height: 2px;
  border: none;
  background-color: white;
}

.card:hover {
  animation-duration: 0.25s;
  box-shadow: 0 14px 28px rgba(212, 139, 44, 0.25), 0 10px 10px rgba(205, 10, 196, 0.22);
}

.card .card-block {
  padding: 25px;
  height: 380px;

}
@media only screen and (max-width: 991px) {
  .card .card-block {
    padding: 25px;
    height: auto;
  }
}

.order-card i {
  font-size: 26px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

p {
  font-size: 14px;
  font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
}

li {
  margin: 10px 0;
}

ul {
  line-height: 100%;
  margin: 1px 0;
}


textarea::placeholder {
  opacity: .5;
  font-style: italic;
}

input, textarea {
  border-radius: 25px;
  border-style: none;
}

textarea {
  padding: 15px;
}
