input, textarea, .card, .alert{
  border-radius: 25px;
  border-style: none;
}

textarea {
  padding: 15px;
}

input[type="checkbox"] {
  border-style: solid;
}

.slider.round {
  border-color: #ebe4e1;
  border-style: solid;
  border-radius: 34px;
}

.slider:before {
  height: 26px;
  width: 26px;
  bottom: 4.5px;
}