<div *ngIf="this.secretShowDto !== null || this.keyRequired">
  <div *ngIf="this.keyRequired" class="alert alert-success" role="alert">
    An access key is required to retrieve the secret 🔑
  </div>
  <div class="card" style="margin-bottom: 1%;">
    <div class="card-body">
      <h5 class="card-title">Secret content</h5>
      <input disabled class="form-control" [attr.type]="this.showSecret ? 'text' : 'password'" [value]="this.secretShowDto?.body">
      <p class="card-text">
      </p>
      <div *ngIf="!this.keyRequired || this.keyRetrieved">
        <div class="row">
            <a name="copyImg" class="relative-centric" (click)="this.copyToClipboard()"
            style="cursor: pointer; text-decoration: none;">Copy secret to the clipboard<img
            src="{{this.secretCopied ? '../../assets/img/done.png' : '../../assets/img/copy-to-clipboard.png' }}"
            alt="Copy to the clipboard" class="relative-centric"
            title="{{this.secretCopied ? 'Copied' : 'Copy to the clipboard' }}" style="width: 23px;"></a>
        </div>
        <div class="row">
          <div class="col-3 col-lg-1">
            <label class="switch">
              <input type="checkbox" id="showSecret" [(ngModel)]="this.showSecret">
              <span class="slider round"></span>
            </label>
          </div>
          <div class="col-5">
            <label style="user-select: none; position: relative; top: 13%; left: -20px;">Show secret</label>
          </div>
        </div>   
      </div>
    </div>
  </div>
  <div *ngIf="this.keyRequired">
    <div class="row">
      <div class="col-sm-4" style="margin-bottom: 1%;">
        <input type="password" placeholder="Access key" class="form-control"
          [(ngModel)]="this.accessKey" style="-webkit-text-security: disc;">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <button *ngIf="!this.keyRetrieved" [disabled]="this.accessKey.length === 0 || !this.retrieveAttemptAllowed"
          (click)="this.getSecret()" class="btn-round btn-olive" style="margin-bottom: 1%;">Retrieve secret</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="this.removalKey" class="alert alert-warning" role="alert">
  {{ this.secretRemovalFailed ? 'Error occurred on key removal 🐞': 'Secret has been removed successfully 🧨' }}
</div>
<div *ngIf="this.secretNotFound" class="alert alert-warning" role="alert">
  Secret not found or not available to be shown at this time 🙈
</div>
<div class="row">
  <div class="col-sm-4">
    <button *ngIf="this.secretShowDto?.selfRemovalAllowed && (this.secretShowDto !== null && this.secretShowDto.accessAttemptsLeft > 1)"
      (click)="this.deleteSecret()" class="btn-round btn-olive" style="margin-bottom: 1%;">Delete secret</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <button routerLink="/" class="btn-round btn-olive" style="width: 135px;">Back home</button>
  </div>
</div>