<div class="card" style="margin-bottom: 1%;">
  <div class="card-body">
    <h1 class="card-subtitle mb-2 text-muted">Overview 🔑</h1>
    <hr>
    <div class="card-text">
      <p>The Secretary is a free online service that was created to securely share your confidential data with the
        recipient.</p>
      <p>Many people today send sensitive data using email, social networks, or public IMs. Even though many services do
        a great job security wise, this doesn&#39;t solve the problems of data disposal. A hacked mailbox\account can
        provide an attacker with confidential information as many users keep received secrets in inboxes.
        The secretary never stores unencrypted data and any keys inside that can be used to decrypt your secrets.</p>
      <h2 id="is-it-rocket-science-">Is it rocket science? 🚀</h2>
      <p>Are you kidding me? Of course not!
        I know it is not the only secret sharing service available, but I’ve found this app to be different from others
        in the range of features it offers.</p>
      <h2 id="what-can-i-do-with-this-service-">What can I do with this service ❓</h2>
      <p>Obviously to share sensitive information, so you can control the policies like a boss 😎:</p>
      <ul>
        <li>You always have the option to remove your secret. Once created, You will receive 2 links, one for secret
          access, and the other one for deleting the secret.</li>
        <li>Optionally, you can allow the user (recipient) to delete the secret.</li>
        <li>Control how many times you want your secret to be accessed. If you set the value to &#39;1&#39; - it
          will be deleted immediately after the user opens the secret.</li>
        <li>Add an additional access key. In this case, the user must enter a key next to the link to the secret before
          receiving the secret. For example, you can send a link using email and a key via SMS.</li>
        <li>You can set when you want your secret to become available. For example, you can share access to your Netflix
          account tomorrow from 3 PM to 4 PM. The user won&#39;t be able to access the secret until 3 PM and after 4 PM
          your secret will expire and be deleted.</li>
        <li>Feel adventurous? Feel free to integrate with the API and automate your workflow. For instance, if you are
          working on creating a student accounts, you can call the API to generate a link to the users password and send
          it to the student’s email.</li>
      </ul>
      <h2 id="what-this-service-is-about-">What this service is about 👍🏼</h2>
      <ul>
        <li>Share PIN codes.</li>
        <li>Share API keys.</li>
        <li>Share passwords.</li>
        <li>Share phone numbers.</li>
        <li>Share links to the doc (alright-alright, you can generate links in GDoc, Office365, but what if you want
          that link to be available only at a certain time?).</li>
        <li>Share your geo-location (at a specific time - frame).</li>
        <li>Landlord? Share your car\home locker passcode when needed.</li>
        <li>You want to marry a woman but you are afraid to propose in person. Well, you can say in
          person that you have something great to tell at least and share a link that will become available after you
          leave (purely fictional example 🤵 👰 ).</li>
      </ul>
      <p>And many other funny and sometimes not funny things.</p>
      <h2 id="what-this-service-is-not-about-">What this service is NOT about ⛔️</h2>
      <ul>
        <li>The secretary was created only for sharing secrets, not storing.</li>
        <li>It is not a 1Password.</li>
        <li>It is not a KeyVault, Hashicorp Vault, etc...</li>
        <li>Seriously, want to have a password manager =&gt; use <a
            href="https://support.apple.com/lv-lv/guide/mac-help/mchlf375f392/mac">keychain</a> :)</li>
      </ul>
      <h2 id="wait-a-minute-i-don-t-trust-you-">Wait a minute, I don&#39;t trust you 🤔</h2>
      <p>This is a valid point, why do you need to trust some guy on the internet who deals with your sensitive
        information?
        Your concerns totally make sense and for that, I decide to make this service open source. This way I hope to
        establish trust between us.</p>
      <h2 id="i-don-t-care-that-this-is-open-source-it-doesn-t-guarantee-your-public-version-is-secured-">I don&#39;t
        care that this is open source, it doesn&#39;t guarantee your public version is secured 🙈</h2>
      <p>For you, I have a few options:</p>
      <ul>
        <li>Review the source code, build the service and deploy your own instance with blackjack and hookas.</li>
        <li>If you are not code-friendly but still want to have your own instance, simply spin up a docker container by
          running a few commands.</li>
      </ul>
      <h2 id="it-is-not-ideal-">It is not ideal 🧐</h2>
      <p>As everything in our world. I had limited time to work on this service, but I have a lot of ideas on
        refactoring and bringing new features.
        If the service generates curiosity I will work on evolving it further.</p>

      <h2 id="it-is-not-ideal-">Where to find a source code ❓</h2>
      <p>You can find github repository <a href="https://github.com/MTokarev/secretary/blob/main/README.md">here</a>.</p>
    </div>
  </div>
</div>

<div class="row mb-5">
  <div class="col-sm-2">
    <button routerLink="/" class="btn-round btn-olive" style="width: 135px;">Back home</button>
  </div>
</div>